variable "userNumber" {
    type= string
    default= "xxxxxxx"
    description = "ユーザーのID、userのarn内にある数字、IAMから確認できる"
}

variable "forwardKey" {
    type= string
    default= "xxxxxxx"
    description = "cloudFront経由かどうか確認するKey、任意の文字列で良い"   
}

variable "acmArm" {
    type= string
    default= "xxxxxxxx"
    description = "acmによって作成した証明書のARN、acmを使用する場合は別途設定が必要、使わない場合はこのままで"
}

variable "gitRep" {
    type= string
    default= "xxxxx"
    description = "対象プロジェクトが格納されているgithubのリポジトリ、Saatisfy/watanabe-test-terraform  の様な形式"
}

variable "gitRepBranch" {
    type= string
    default= "xxxxx"
    description = "gitRepで入力したgithubのリポジトリ内の、変更を検知したいブランチ名"
}